
<div th:if="${espe} == 'cardiologia'" class="informacion">
    <div class="descripcion"> 
         <div class="foto">
            <img  th:if="${espe == 'cardiologia'}" src="/img/cardiologia3.jpg" alt="Imagen Ilustrativa">
        </div>
        
        <div class="descripcionTitulo">
           <tittle id="titulo">
           <h1><strong>CARDIOLOGÍA</strong></h1>
           </tittle>
    
           <h4>La cardiología es la parte de la medicina que se ocupa del aparato circulatorio. Su finalidad básica
           es el estudio, diagnóstico, tratamiento y prevención de las enfermedades cardiovasculares.</h4>
           <br>
        </div>
     </div>
    
    <div class="listaMedicosEspecialidad">
        <h5> Nuestros profesionales en esta especialidad son:</h5>
        <br>
        <br>
        <ul id="cardiologos" style="text-align: left;">
            <li th:hidden="${medico.alta == false}"  th:each="medico : ${medicos}" >
                <a th:href="@{'/medicos/' + ${medico.idUsuario}}" class="button-6" role="button" th:text="${medico.nombre} + ' ' + ${medico.apellido}"></a>
            </li>
        </ul>
    
    
     <br>
    </div>
</div>

