<h4 th:if="${espe == 'ginecologia'}">Se especializa en la atención de las mujeres durante el embarazo
    y el parto, y en el diagnóstico y
    tratamiento de enfermedades de los órganos reproductivos femeninos.
    <br>
    <br>
    Nuestros profesionales en esta especialidad son:
    <br>
    <br>
    <ul id="ginecologas" style="text-align: left;" th:each="medico : ${medicos}">
        <li th:text="${medico.nombre} + ' ' + ${medico.apellido}"><button type="button" class="btn btn-success" btn-sm>Ver perfil</button>
        </li>
    </ul>
</h4>