
<div th:if="${espe == 'ginecologia'}" class="informacion">
    <div class="descripcion"> 
        <div class="foto">
            <img  th:if="${espe == 'ginecologia'}" src="/img/ginecologia.jpg" alt="Imagen Ilustrativa">
        </div> 
        
        <div class="descripcionTitulo">
          <tittle id="titulo">
          <h1><strong>GINECOLOGÍA</strong></h1>
          </tittle>
   
          <h4>Se especializa en la atención de las mujeres durante el embarazo y el parto, y en el diagnóstico y
         tratamiento de enfermedades de los organos reproductivos femeninos.</h4>
         <br>
         </div>
        
     </div>
     <div class="listaMedicosEspecialidad">
       <h5>Profesionales en esta especialidad son:</h5>
       <br>
       <br>
       <ul id="ginecologas" style="text-align: left; margin-left: 130px;">
        <li th:hidden="${medico.alta == false}"  th:each="medico : ${medicos}" >
            <a th:href="@{'/medicos/' + ${medico.idUsuario}}" class="button-6" role="button" th:text="${medico.nombre} + ' ' + ${medico.apellido}"></a>
        </li>
       </ul>
    
       <br>
       
      </div>
</div>

