<h4 th:if="${espe} == 'pediatria'">Se especializa en la prevención, el diagnóstico y el tratamiento de enfermedades y lesiones en la
    infancia.
    <br>
    <br>
    Nuestros profesionales en esta especialidad son:
    <br>
    <br>
    <ul id="pediatras" style="text-align: left;" th:each="medico : ${medicos}">
        <li th:text="${medico.nombre} + ' ' + ${medico.apellido}"><button type="button" class="btn btn-success" btn-sm>Ver perfil</button>
        </li>
    </ul>

</h4>
<div th:if="${espe} == 'pediatria'" class="informacion">
    <tittle id="titulo">
        <h1><strong>Pediatría</strong></h1>
    </tittle>
    <p>
    <h4>Se especializa en la prevención, el diagnóstico y el tratamiento de enfermedades y lesiones en la
        infancia.</h4>
    <br>
    <h5>
        Nuestros profesionales en esta especialidad son:
    </h5>
    <br>
    <br>
    <ul id="pediatras" style="text-align: left;">
        <li  th:hidden="${medico.alta == false}" th:each="medico : ${medicos}" >
            <a th:href="@{'/medicos/' + ${medico.idUsuario}}" class="button-6" role="button" th:text="${medico.nombre} + ' ' + ${medico.apellido}"></a>
        </li>
    </ul>

    </p>
    <br>
</div>

