<h4 th:if="${espe == 'clinico'}">Es un especialista en adultos que enfoca al paciente con una concepción integral del ser humano,
    capacitado para prevenir, diagnosticar, tratar y rehabilitar la patología prevalente, así como para guiar al paciente por todos los
    niveles de atención y realizar promoción de la salud
    <br>
    <br>
    Nuestros profesionales en esta especialidad son:
    <br>
    <br>
    <ul id="clinico" style="text-align: left;" th:each="medico : ${medicos}">
        <li th:text="${medico.nombre} + ' ' + ${medico.apellido}"><button type="button" class="btn btn-success" btn-sm>Ver perfil</button>
        </li>
    </ul>
</h4>