<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum laborum quos id provident beatae
                iste itaque. Obcaecati, cum vel neque quos et nisi nobis cupiditate aut magnam hic voluptatum
                aperiam.</p>
        </div>
        <div class="box">
            <h2>NUESTRAS REDES SOCIALES</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy;2022 <b>Profesionales de la Salud</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>