  /*NAVBAR*/
  header {
    background-color: purple;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar-brand {
    color: black
  }

  .nav-link {
    color: white;
  }

  .nav-link:focus,
  .nav-link:hover {
    color: black;
  }

  .btn-success {
    background-color: white;
    color: purple;
    display: inline-block;
    padding: 4px 3px;
    font-size: smaller;
    border-color: purple;
  }

  .btn-outline-danger {
    color: white;
    border-color: black;
    background-color: black;
  }

  .form-control {
    border-color: black;
    padding: 2px 3px;
  }

  .logo {
    display: flex;
  }

  .logo img {
    height: 100px;
  }

  /*MAIN*/
  main {
    font-family: Arial, Helvetica, sans-serif;
  }

  #titulo {
    color: purple;
    text-align: center;
  }

  .foto img {
    text-align: left;
    height: 500px;
  }

  .informacion {
    text-align: center;
    color: black;
  }

  .contenedor {
    display: flex;
    align-items: flex-start;
  }
