

/*ESTILOS GENERALES*/
body{
    margin: 0px;
    padding: 0px;
}
header h1{
    margin-left: 30px;
    color: black;
    
}
 
 /* CONTAINER 1 HERO*/  /*MAIN*/

 #hero{
     position: relative;
     background-image: url(/img/fondo3.jpg);
     height: 672px;
     width: 1366px;
 }

 #hero .informacion-container{

     display: flex;
     color: rgb(18, 71, 54);
     padding: 0px 100px;
     justify-content: center;
 }
 
 #hero .informacion-container {
     object-fit: contain;
    
 }

 #hero .informacion-container .informacion{
     margin-left: 80px;
     font-weight: bold;

 }
 #hero .informacion-container .informacion p{
  font-family: montserrat;
  font-size: 40px;
  margin-left: -700px;
  color: #263238;
 }
 #hero .informacion-container .informacion h1{
    margin-top: 400px;
    margin-left: -800px;
    color:black;
    font-family: 'Montserrat' , 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
    font-size: 60px;
   
     
}
 #hero .informacion-container .informacion span{
     display:inline-block;
     color: rgb(240, 231, 106);
     margin-bottom: 20px;
 }
 #hero .informacion-container #logo img{
     /*
    width: 200px;
     border-radius: 100%;*/
     size: 39px; 
     margin-top: -60px;
     margin-left: 250px;
     display: flex;
     align-items: flex-start;
    
 }

 /*CONTEINER 2 ABOUT US - NOSOTROS */
 
 #Nosotros{
     background-image: url(/img/fondo5.jpg);
     padding: 30px;    
     margin-top: -20px;
     height: 672px;
     width: 1366px; 
 }
 
 #rectanguloLila {
  
  border-left: 32px solid #8F3A84;
  margin: 144px 0px;
  width: 100%;
  height: 384px;
 }
 
 #Nosotros .titulo2{
  font-family: 'Montserrat' , 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  font-size: 45px;
  padding-left: 267px;
  margin-top: -500px;
  color: #8F3A84;
 }
p.textoNosotros {
  width: 768px;
  height: 197px;
 /* margin-top: -500px;*/
  margin-left: 250px;
  font-size: 20px;
  color: #263238;
  font-family: 'Montserrat' , 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
 }
 /*CONTEINER 3 ESPECIALIDADES */
 
#Especialidades{
   background:  #8F3A84;
   width: 1366px;
  height: 672px; 
  position: relative;
  z-index: 1;
  left: 0px;

     
}
.titulo3{
  width: 100px;  
  margin-left: 40px;
}
.titulo3 h1{
    margin-left: 120px;
    padding: 20px;
    height: 20px;
    width: 600px;
    font-size: 41px;
       
}

#rectanguloGris{
    margin-top: -672px;
  margin-left: 1067px;
  width: 300px;
  height: 672px;
  background: #90A4AE;
  position: absolute;
 
  z-index: 2;
}

.FOTOS{
    margin-top: 55px;
    margin-left: 78px;
}
.especialidades1{
     display: flex;
}
#Especialidades .especialidades1 img{
     max-height: 180px;
     max-width: 300px;
     border-radius: 8%;
 }

#Especialidades .especialidades1 li{
     
     list-style: none;
 }
 #Especialidades .especialidades1 .area{
     display: flex;
     justify-content: center;
     align-items: flex-end;
     margin: 10px;
     box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(106, 8, 163, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
 }
 #Especialidades .especialidades1 .area a {
    background-color: powderblue;
    transition: background-color .5s;
  }

  a:hover {
    box-shadow: purple 2px 8px 8px -5px;
    transform: translate3d(1px, 3px, 0);

  }
  .card-body{
      font-size: 18px;
      display: flex;
      justify-content: center;
  }


 /*CONTEINER 4 TURNOS */
    #Turnos{
     padding: 30px;
     margin-bottom: 40px;
     margin-top: -20px;
     height: 672px;
     width: 1366px;
     background: #48C9B0;
     z-index: 1;


    }
    #Turnos .imagenTurnos{
     z-index: 2;
     margin-left: 100px;
     margin-top: -90px;
     height: 672px;

    }

    #Turnos img{
        height: 732px;
    }

    /*CONTEINER 5 REGISTRO MÉDICOS - MEDICOS */
    #Medicos{
        padding: 0px;
     margin-bottom: 40px;
     margin-top: -40px;
     height: 672px;
     width: 1366px;
    }
    #rectanguloGris2{
     background:  #90A4AE;
     width: 1366px;
     height: 672px;
     position: relative;
     z-index: 1;
     left: 0px;

    }
    #rectanguloGris2 h1{
      font-family: 'Montserrat' , 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
      font-size: 45px;
      padding-left: 850px;
      padding-top: 150px;
      margin-top: 0px;
      color: #263238;
    }

    #rectanguloGris2 .imagenMedicoIndex{
      margin-top: -265px;
      height: 672px;
    }

    #rectanguloGris2 .bontonMedico{
        margin-left: 950px;
        margin-top: -400px;
    }
    /*CONTEINER 6 FOOTER - PIE   */