  /*NAVBAR*/
  header {
    background-color: purple;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navbar-brand {
    color: black
  }

  .nav-link {
    color: white;
  }

  .nav-link:focus,
  .nav-link:hover {
    color: black;
  }

  .btn-success {
    background-color: white;
    color: purple;
    display: inline-block;
    
    font-size: smaller;
    border-color: purple;
  }

  .btn-outline-danger {
    color: white;
    border-color: black;
    background-color: black;
  }

  .form-control {
    border-color: black;
    padding: 2px 3px;
  }

  .logo {
    display: flex;
  }

  .logo img {
    height: 100px;
  }

  /*MAIN*/
  main {
    font-family: Arial, Helvetica, sans-serif;
  }

  #titulo {
    color: purple;
    text-align: center;
  }

  .foto img {
    text-align: left;
    height: 500px;
  }

  .informacion {
    text-align: center;
    color: black;
  }
  h1{
    margin-top: 15px;
    margin-bottom: -15px;
  }
  h4{
    padding: 20px;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    justify-content: left;
  }

  h5 {
    text-align: left;
    margin-left: 20px;
    font-size: 17px;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  .contenedor {
    display: flex;
    align-items: flex-start;
  }
  
  ul {
    margin-top: -30px;
    list-style-type: square;
  }
  
  
  /* CSS */
  .button-6 {

    
    background-color: #FFFFFF;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
   
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 300px;
    outline:white;
    border-width: 0ch;
    border-color: #F0F0F1;
  }
  
  .button-6:hover,
  .button-6:focus {
    
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(143, 16, 126, 0.445);
  }
  
  .button-6:hover {
    transform: translateY(-1px);
  }
  
  .button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }