header {
    width: 1366px;
    background-color: #8F3A84;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px, 80px, 5px;

}

.navbar-brand {
    color: black
}

.nav-link {
    color: white;
}

.nav-link:focus,
.nav-link:hover {
    color: black;
     margin-right: 40px;

}

.btn-success {
    background-color: white;
    color: purple;
    display: inline-block;
    padding: 4px 3px;
    font-size: smaller;
    border-color: #8F3A84;
}

.btn-outline-danger {
    color: white;
    border-color: black;
    background-color: black;
}

.form-control2 {
    border-color: black;
    padding: 2px 3px;
    position: relative;
    right: 100px;
}

.ingresar{
    position: relative;
    right: 40px;
}

.logo {
    display: flex;
}

.logo img {
    height: 100px;
}