.button-34 {
  margin:10px;
  background-color: #8F3A84;
  border-radius: 999px;
  color: white;
  font-size: 16px;
  font-weight: 10;
  line-height: 4px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 18px 22px;
  border: 0;
}
