/*ESTILOS GENERALES*/
body{
    margin: 0px;
    padding: 0px;
}
header h1{
    margin-left: 30px;
    color: black;
    
}


/*MEDICOS*/

contenedorMedico {
    position: relative;
    height: 672px;
    width: 1366px;
}

fotoMedico{
    /* background-image: url(/img/UsuarioDefecto.jpg); */
}
h4 {
color: black;
}

.btn-secondary {
    background: #8F3A84;
    color: white;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: white;
    background-position: 0 0;
    color: #8F3A84;
    border-bottom-color: #8F3A84;
}