<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Especialidad</title>
    <!--BootStrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilo.css">
</head>

<body>
<head th:replace= "/fragments/navbar :: header"> </head>
<!--Main-->
<main>
    <div class="contenedor">
        <div class="foto">
            <img  th:if="${espe} == 'cardiologia'" src="/img/cardiologia.jpg" alt="Imagen Ilustrativa">
            <img  th:if="${espe == 'ginecologia'}" src="/img/ginecologia.jpg" alt="Imagen Ilustrativa">
            <img th:if="${espe == 'clinico'}" src="/img/clinico.jpg" alt="Imagen Ilustrativa">
            <img th:if="${espe == 'pediatria'}" src="/img/pediatra.jpeg" alt="Imagen Ilustrativa">
        </div>
        <div class="informacion">
            <tittle id="titulo">
                <h1 th:text="${especialidad}"><strong></strong></h1>
            </tittle>
            <p>
            <h4  th:replace= "/fragments/desc_cardio :: h4"></h4>
            <h4  th:replace= "/fragments/desc_ginec :: h4"></h4>
            <h4 th:replace= "/fragments/desc_clinico :: h4"></h4>
            <h4  th:replace= "/fragments/desc_pediatra :: h4"></h4>
            </p>
            <br>
        </div>
    </div>
</main>


<!--BootStrap JavaScript-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>