<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrarse</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/footer.css">
        <!--Iconos Footer-->
        <script src="https://kit.fontawesome.com/5c022e6466.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <head th:replace= "/fragments/navbar :: header"> </head>
    <div class="col-md-7 col-lg-6 mx-auto" style="margin:20px">
        <h4 class="mb-3">Registro médico</h4>
        <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
            <div class="card-body">
                <h5 class="card-title">Error 👎</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>

        </div>

        <form class="row g-3" th:action="@{/registro}" method="POST" enctype="multipart/form-data">
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="firstName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="firstName" placeholder="" value=""
                           required="">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="lastName" placeholder="" value=""
                           required="">
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>

                <div class="col-12">
                    <label for="file" class="form-label">Subir imagen</label>
                    <input type="file" class="form-control" name="archivo" id="archivo">
                </div>


                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="mail" id="email" placeholder="you@example.com" required="@">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="col-12">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="contrasenia" id="contrasena" placeholder="" required="">
                    <div class="invalid-feedback">
                        Valid password is required
                    </div>
                </div>

                <div class="col-12">
                    <label for="password" class="form-label">Confirmar Contraseña</label>
                    <input type="password" class="form-control" name="contrasenia2" id="contrasena" placeholder="" required="password">
                    <div class="invalid-feedback">
                        Please enter the same password.
                    </div>
                </div>

                <div class="col-12">
                    <label for="Especialidad" class="form-label">Especialidad</label>
                    <select name="especialidad" class="form-select" id="ObraSocial" required="">
                        <option value="">Seleccione</option>
                        <option value="Pediatria">Pediatria</option>
                        <option value="Ginecologia">Ginecologia</option>
                        <option value="Clinica">Clínica</option>
                        <option value="Cardiologia">Cardiologia</option>
                    </select>
                </div>


                <div class="col-md-5">
                    <label>
                        Valor de consulta: <input type="number" name="valorConsulta" class="form-control"
                    </label>
                </div>

                <div class="col-md-5">
                    <label for="ObraSocial" class="form-label">¿Recibe obra social?</label>
                    <select name="obraSocial" class="form-select" id="ObraSocial" required="">
                        <option value="">Seleccione</option>
                        <option value="true">Si</option>
                        <option value="false">No</option>
                    </select>

                </div>

                <div class="col-md-5">
                    <label for="Espacio" class="form-label">¿Recibe obra social?</label>
                    <select name="espacio" class="form-select" id="Espacio" required="">
                        <option value="">Seleccione</option>
                        <option value="true">Virtual</option>
                        <option value="false">Presencial</option>
                    </select>
                    <input type="text" class="form-control" name="direccion" id="Direccion" placeholder="ejemplo.com/ Calle ejemplo 111" required="@">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

            </div>
            <button class="w-100 btn btn-dark btn-lg " type="submit" style="margin:10px">Registrarse</button>
        </form>

    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>
</html>