<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Inicio-Medicos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!--Iconos Footer-->
    <script src="https://kit.fontawesome.com/5c022e6466.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800,900"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
</head>

<body>

    <head th:replace="/fragments/navbar :: header"></head>
    <div th:if="${exito != null}" class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
        </svg>
        <div class="card-body">
            <h5 class="card-title">Exito!</h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div>
    <section id="hero">
        <main class="informacion-container">




            <div class="imagen-container" id="logo">
                <img src="/img/logo.png" alt="LOGO">
            </div>
            <div class="informacion">


                <h1><strong>PROFESIONALES DE LA SALUD</strong></h1>
                <span></span>
                <br>
                <p>Comprometidos con tu bienestar
                </p>
            </div>

        </main>
    </section>
    <div id="Nosotros">
        <div id="rectanguloLila"></div>
        <div class="aboutUs">
            <h2 class="titulo2"> NOSOTROS </h2>
            <p class="textoNosotros"> Descripcion bonita Descripcion bonita Descripcion bonita Descripcion
                bonitaDescripcion bonita

                Descripcion bonita Descripcion bonita Descripcion bonita Descripcion bonita Descripcion bonita
                Descripcion
                bonita Descripcion bonitaDescripcion bonita
                Descripcion bonita Descripcion bonita Descripcion bonitaDescripcion bonita Descripcion bonita
                Descripcion
                bonita Descripcion bonitaDescripcion bonita

                Descripcion bonita Descripcion bonita Descripcion bonita
            </p>
        </div>
    </div>
    <div id="Especialidades">
        <div class="titulo3">
            <h1> Nuestras Especialidades</h1>
        </div>
        <div class="FOTOS">
            <ul class="especialidades1">

                <li class="fila1"><a href="/medicos/especialidad/pediatria" class="area" id="PEDIATRIA">
                        <img src="/img/pediatria.jpg" alt="PEDIATRIA">
                        <h2 style="color: black"> PEDIATRIA </h2>
                    </a></li>
                <li class="fila1"><a href="/medicos/especialidad/ginecologia" class="area" id="GINECOLOGIA">
                        <img src="/img/ginecologia.jpg" alt="GINECOLOGIA">
                        <h2 style="color:black"> GINECOLOGIA </h2>
                    </a></li>

            </ul>
            <ul class="especialidades1">
                <li class="fila2"><a href="/medicos/especialidad/clinico" class="area" id="CLINICA">

                        <img src="/img/clinica.jpg" alt="CLINICA">
                        <h2 style="color: black"> CLINICA </h2>
                    </a></li>

                <li class="fila2"><a href="/medicos/especialidad/cardiologia" class="area" id="CARDIOLOGIA">

                        <img src="/img/cardiologia.jpg" alt="CARDIOLOGIA">

                        <h2 style="color:black"> CARDIOLOGIA </h2>
                    </a></li>

            </ul>
        </div>
        <div id="rectanguloGris">

        </div>
    </div>
    <div id="Turnos">
        <div class="imagenTurnos">
            <img src="/img/compu.png" alt="Teclado">

        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/search" type="button" class="btn btn-secondary">Sacar Turno</a>

        </div>

    </div>
    </div>
    <div id="Medicos">

        <div id="rectanguloGris2">
            <div class="titulo4">
                <h1> ¿Eres Medico?
                    <br>
                    <strong> REGISTRATE </strong>
                </h1>
            </div>

            <div class="imagenMedicoIndex">
                <img src="/img/medicogeneral3.png" alt="FotoMedico">
            </div>
            <div class="bontonMedico">
                <a type="button" class="btn btn-secondary btn-lg" href="/registrarse">Click aquí</a>
            </div>
        </div>
    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>