<!doctype html>
<html>
    <head>
        <title> 🧬 CLINIXA </title>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap" rel="stylesheet">
       
    </head>
        <header>
            <h1> Clinixa</h1>
        </header>
    <section id="hero">

        <div class="informacion-container">

            <div class="imagen-container" id="logo">
                <img src="imagenes/logo.png" alt="LOGO">
            </div>
            <div class="informacion">
                <h1>CLINICA MEDICA</h1>
                <span></span>
                <p>Lema Lema Lema Lema Lema Lema Lema Lema Lema Lema Lema Lema Lema Lema Lema Lema Lema Lema Lema Lema
                </p>
            </div>
            
            
        </div>
        <main>
            <p>Descripcion bonita Descripcion bonita Descripcion bonita Descripcion bonitaDescripcion bonita
                Descripcion bonita Descripcion bonita Descripcion bonita Descripcion bonita Descripcion bonita Descripcion bonita Descripcion bonitaDescripcion bonita
                Descripcion bonita Descripcion bonita Descripcion bonitaDescripcion bonita Descripcion bonita Descripcion bonita Descripcion bonitaDescripcion bonita
                Descripcion bonita Descripcion bonita Descripcion bonita</p>
            
            <ul class="especialidades">
                <li><a href="" target="_blank" class="area" id="PEDIATRIA">
                    <img src="imagenes/pediatria.jpg" alt="PEDIATRIA">
                    <h2 style="color: whitesmoke"> PEDIATRIA </h2>
                </a></li>
                <li><a href="" target="_blank" class="area" id="GINECOLOGIA">
                    <img src="imagenes/ginecologia.jpg" alt="GINECOLOGIA">
                     <h2 style="color:black"> GINECOLOGIA </h2>
                </a></li>
                <li><a href="" target="_blank" class="area" id="CLINICA">
                    <img src="imagenes/clinica.jpg" alt="CLINICA">
                    <h2 style="color: whitesmoke"> CLINICA </h2>
                </a></li>
                
                <li><a href="" target="_blank" class="area" id="CARDIOLOGIA">
                    <img src="imagenes/cardiologia.jpg" alt="CARDIOLOGIA">
                    
                    <h2 style="color:black"> CARDIOLOGIA </h2>
                </a></li>
               
            </ul>
           
        </main>
    </section>



</html>