<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profesionales</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/style-tabla.css">
        <link rel="stylesheet" href="/css/footer.css">

        <!--Iconos Footer-->
        <script src="https://kit.fontawesome.com/5c022e6466.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <head th:replace= "/fragments/navbar :: header"> </head>
    <main>
        <div class="datagrid">
            <table>
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Especialidad</th>
                        <th>Estado</th>
                        <th>Rol</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <div id="paging">
                                <ul>
                                    <li><a href="#"><span>Anterior</span></a></li>
                                    <li><a href="#" class="active"><span>1</span></a></li>
                                    <li><a href="#"><span>2</span></a></li>
                                    <li><a href="#"><span>3</span></a></li>
                                    <li><a href="#"><span>4</span></a></li>
                                    <li><a href="#"><span>5</span></a></li>
                                    <li><a href="#"><span>Siguiente</span></a></li>
                                </ul>
                            </div>
                    </tr>
                </tfoot>
                <tbody>
                    <tr th:each="medico : ${medicos}">
                        <td><button class="button-6" role="button" th:text="${medico.apellido}"> </button></td>
                        <td th:text="${medico.nombre}"></td>
                        <td th:text="${medico.especialidad}"></td>
                        <td>
                            <button class="button-7" role="button" name="alta-baja" th:id="'alta-' + ${medico.idUsuario}" th:if="${medico.alta == false}">Alta</button>
                            <button class="button-8" role="button" name="alta-baja"  th:id="'baja-' + ${medico.idUsuario}" th:if="${medico.alta == true}">Baja</button>
                        </td>
                        <td>
                            <button class="button-9" role="button" name="admin-user" th:id="'admin-' + ${medico.idUsuario}" th:if="${medico.rol == T(com.salud.webSalud.persistence.enums.Rol).USER}">Volver Administrador</button>
                            <button class="button-9" role="button" name="admin-user" th:id="'user-' + ${medico.idUsuario}" th:if="${medico.rol == T(com.salud.webSalud.persistence.enums.Rol).ADMIN}">Volver Usuario</button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer th:replace="/fragments/footer :: footer"></footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script>
    const buttons = document.querySelectorAll('[name="alta-baja"]')

    const enviarId = async (button) => {
    //uso el id del boton para obtener el id del input remplazando la palabra
    const getBotonId = (buttonId) => parseInt(buttonId.split("-")[1]);
    //obtengo el id del button
    const buttonId = button.target.id;

    console.log(buttonId)

    //hago el fetch con el method post
    const response = await fetch(`/admin/listamedicos/${getBotonId(buttonId)}`, {
    method: 'POST', // or 'PUT'

    })
    location.reload();

    }

    buttons.forEach((button) =>
    button.addEventListener("click", enviarId)
    );
 
    //-----------
    
    const botones = document.querySelectorAll('[name="admin-user"]')

    const adminUser = async (button) => {
    //uso el id del boton para obtener el id del input remplazando la palabra
    const getBotonUser = (buttonUser) => parseInt(buttonUser.split("-")[1]);
    //obtengo el id del button
    const buttonUser = button.target.id;

    console.log(buttonUser)

    //hago el fetch con el method post
    const response = await fetch(`/admin/cambiarRol/${getBotonUser(buttonUser)}`, {
    method: 'POST', // or 'PUT'

    })
    location.reload();

    }

    botones.forEach((button) =>
    button.addEventListener("click", adminUser)
    );
</script>


    

</html>