<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesionales</title>
   
    <link rel="stylesheet" href="style-tabla.css">
</head>

<main>
    <div class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Especialidad</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div id="paging">
                            <ul>
                                <li><a href="#"><span>Previous</span></a></li>
                                <li><a href="#" class="active"><span>1</span></a></li>
                                <li><a href="#"><span>2</span></a></li>
                                <li><a href="#"><span>3</span></a></li>
                                <li><a href="#"><span>4</span></a></li>
                                <li><a href="#"><span>5</span></a></li>
                                <li><a href="#"><span>Next</span></a></li>
                            </ul>
                        </div>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td><button class="button-6" role="button"> Suarez</button></td>
                    <td>Maria Ema</td>
                    <td>data</td>
                    <td><button class="button-7" role="button">Alta</button><button class="button-8" role="button">Baja</button></td>
                </tr>
                <tr class="alt">
                    <td><button class="button-6" role="button">Su</button></td>
                    <td>Mario</td>
                    <td>data</td>
                    <td><button class="button-7" role="button">Alta</button><button class="button-8" role="button">Baja</button></td>
                </tr>
                <tr>
                    <td><button class="button-6" role="button">Ca</button></td>
                    <td>Marcos</td>
                    <td>data</td>
                    <td><button class="button-7" role="button">Alta</button><button class="button-8" role="button">Baja</button></td>
                </tr>
                <tr class="alt">
                    <td><button class="button-6" role="button">López</button></td>
                    <td>data</td>
                    <td>data</td>
                    <td><button class="button-7" role="button">Alta</button><button class="button-8" role="button">Baja</button></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</main>

</html>